
.account-wrapper{min-width: 1055px;background: #eff1f3;font-family: "Microsoft Yahei";padding: 0 20px 10px;}
.account-wrapper .h2-tit{width: 100%;text-align: center;font: 24px/50px "Microsoft Yahei";color: #1b1b1b;}
.account-wrapper .th-left span{position: relative;float: left;width: 98px;height: 25px;line-height: 25px;text-align: left;border: 1px solid #bfbfbf;background: #fff;text-indent: 5px;}
.account-wrapper .th-left{float: left;}
.mr8{margin-right: 8px;}

.account-wrapper .th{position: relative;width: 960px;margin: 0 auto;}
.account-wrapper .th-right{float: right;height: 27px;}
.account-wrapper .th-right span{float: right;width: 90px;height: 27px;border:1px solid #4e9ee7;color: #757575;margin-left: 6px;font:12px/27px "Microsoft Yahei";cursor: pointer;border-radius: 4px;}
.account-wrapper .th-right span:hover{border:1px solid #4e9ee7;color: #6ea7ec;}
.account-wrapper .th-right span:active{border:1px solid #317dc8;color: #3a7bcb;}

.account-wrapper .tb{width:960px;margin: 8px auto 0;overflow-y: auto;}
.table-account-wrapper{width: 100%; border-collapse: inherit;}
.table-account-wrapper thead tr th{background: #3498db;height: 30px;line-height: 30px;color: #fff;border-right: 1px solid #dadada;}
.table-account-wrapper thead tr th:last-child{border-right: none;}
.table-account-wrapper tbody tr td{height: 38px;line-height: 38px;border-right: 1px solid #dadada;border-bottom: 1px solid #dadada;text-align: right;padding-right: 8px;vertical-align:middle;}
.table-account-wrapper tbody tr:nth-child(2n+1){background: #ffffff;}
.table-account-wrapper tbody tr:nth-child(2n){background: #f4f7fa;}
.table-account-wrapper tbody tr td:first-child{border-left: 1px solid #dadada;}
.breadcrumb { background: none;padding: 0;}
#accId option{width:160px;}
#accId {width: 160px; margin-left: 10px;}
table.tb_scroll tr td {width: 14%;}
table.tb_scroll tr td:nth-child(3) {width: 16%;}