
textarea:focus{resize:none;outline:none}
.pizhu em:nth-child(1){background:url(../images/icon.png) no-repeat;}

.checkVoucher{min-width: 1055px;background: #eff1f3;font-family: "Microsoft Yahei";padding-bottom: 10px;}
.h2-tit{width: 100%;text-align: center;font: 24px/50px "Microsoft Yahei";color: #1b1b1b;}
.checkVoucher .th-left{float: left;}
.seltime{width: 122px;height: 26px;line-height: 26px;color: #767677;}

.checkVoucher .th{padding: 0 13px;height: 27px;position: relative;width: 960px;margin: 0 auto;}
.checkVoucher .th-right{float: right;height: 27px;width: 384px;}
.checkVoucher .th-right span{float: right;width: 90px;height: 27px;background: #4f9de8;margin-left: 6px;font:12px/27px "Microsoft Yahei";color: #fff;cursor: pointer;border-radius: 4px;}
.checkVoucher .th-right span:hover{background-color: #58a6ff;}
.checkVoucher .th-right span:active{background-color: #3789db;}

.checkVoucher .tb{width:960px;margin: 0 auto;padding: 8px;}
/* .checkVoucher .tb table{border: 1px solid #d6d6d6;border-top: 0;} */
/*.checkVoucher .tb .tabhead{border: 1px solid #68849e;}*/
.thead_container {height:30px;background: #3498db;}
.checkVoucher .tb .tabhead thead tr{background: #3498db;height: 30px;line-height: 30px;color: #fff;}
.checkVoucher .tb .tabhead thead tr th {border-right: 1px solid #dadada;}
.checkVoucher .tb .tabhead thead tr th:last-child {border-right: none;}
.checkVoucher .tb thead{border: 1px solid #d6d6d6;}
.checkVoucher .tb thead tr td{color: #545454;height: 30px;line-height: 30px;color: #545454;}
.checkVoucher .tb thead tr td.list-head{text-indent: 30px;background: #e7f3ff;position: relative;}
.checkVoucher .tb thead tr td.list-head span{float: left;padding-right: 20px;}
.checkVoucher .tb thead tr td.list-head span.s-icon{padding-right: 24px;position: relative;cursor:pointer;}
.checkVoucher .tb thead tr td.list-head span.s-icon i{position: absolute;}
.checkVoucher .tb thead tr td.list-head span.s-icon:hover{color: #ff8c5a;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(1) i{width: 14px;height: 11px;background: url(../images/yingxiang.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(2) i{width: 13px;height: 13px;background: url(../images/xiugai.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(3) i{width: 10px;height: 13px;background: url(../images/shanchu.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(4) i{width: 12px;height: 12px;background: url(../images/charu.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(5) i{width: 14px;height: 14px;background: url(../images/dayin.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(6) i{width: 11px;height: 12px;background: url(../images/beizhu.png) top center no-repeat;top: 9px;left: 10px;}

.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(1):hover i{width: 14px;height: 11px;background: url(../images/yingxiangh.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(2):hover i{width: 13px;height: 13px;background: url(../images/xiugaih.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(3):hover i{width: 10px;height: 13px;background: url(../images/shanchuh.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(4):hover i{width: 12px;height: 12px;background: url(../images/charuh.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(5):hover i{width: 14px;height: 14px;background: url(../images/dayinh.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-icon:nth-child(6):hover i{width: 11px;height: 12px;background: url(../images/beizhuh.png) top center no-repeat;top: 9px;left: 10px;}
.checkVoucher .tb thead tr td.list-head span.s-pizhu:hover .pizhu{color: #b5b5b5;display: block;}
.ipt_sz{visibility: hidden;}
.checkVoucher .list-body .ipt_sz{cursor: pointer;}
.pizhu{display: none;position: absolute;width: 232px;height: 119px;border: 1px solid #c1c1c1;top: 30px;right: 0;z-index: 10;background: #fff;}
.pizhu textarea{width: 100%;height: 102px;float: left;border: none;text-indent: 1em;line-height: 18px;}
.pizhu em:nth-child(2){position: absolute;bottom: 0;right: 5px;}
.pizhu em:nth-child(1){position: absolute;width: 13px;height: 7px;top: -7px;right:34px;background-position: -48px -376px;}

.hoverCont{float: left;display: none;position: relative;margin-left:10px;}
.checkVoucher .tb table .list-body {background: #fff;}
.checkVoucher .tb table .list-body tr td{height: 30px;color: #535252;}
.checkVoucher .tb tfoot tr{background: #fafbd9;}
.checkVoucher .tb tfoot tr td.list-foot{text-align: left;text-indent: 26px;height: 30px;line-height: 30px;}
.checkVoucher .tb .table{border-collapse:collapse;}
/* .checkVoucher .tb table:nth-child(2){margin-top: 0;} */
.checkVoucher .tb .contentTable {margin-top:6px;border: 1px solid #eff1f3;}
.checkVoucher .tb .contentTable:hover{border: 1px solid #8dc5fd;}
.checkVoucher .tb .table:hover .hoverCont{display: block;}

.checkVoucher .tb thead tr td.list-head span.sign{position: absolute;width: 23px;height: 23px;background: url(../images/biaozhug.png);top: 4px;right: 4px;padding-right: 0;}

.star {background: url(../images/dian.png) left center no-repeat;padding-left:4px;}

