html{padding:10px 10px 0;background: #d8e0e9;}
.fir-wrapper{background: #eff1f3;font-family: "Microsoft Yahei"}
.main-content{width: 760px;margin: 0 auto;padding-top: 90px;}
.fir-wrapper .layab{width: 507px;height: 426px;background:#327dc9;float: left;position: relative;}
.fir-wrapper .layc{width: 216px;float: right;}
.d-top,.sp-jia,.bott i,.time em{background: url(../images/icon.png) no-repeat;}
.d-top{position: absolute;width: 86px;height: 87px;top: 0;right: 0;background-position: 0 -80px;}
.sp-jia{width: 97px;height: 97px;background-position:0 -168px;position: absolute;top: 107px;left: 64px;}
.p-txt{color: #fff;position: absolute;left: 185px;}
.p-wel{font-size: 18px;line-height: 24px;top: 103px;}
.p-new{font-size: 60px;line-height: 70px;top: 136px;}
.p-click{font-size: 18px;line-height: 24px;top: 212px;}
.bott{width: 507px;height: 62px;background: #f89606;position: absolute;bottom: 0;left: 0;}
.bott i{width: 28px;height: 32px; position: absolute;top: 50%;margin-top: -16px;left: 115px; background-position: 0 -265px;}
.bott span{float: left;font-size: 16px;text-indent: 20px;color: #fff;font-weight: bold;line-height: 62px;text-indent: 162px;}
.bott a.aclick{width: 92px;height: 32px;float: left;font-size: 16px;font-weight: bold;border: 1px solid #ffffff;color: #fff;margin-left:26px;margin-top:14px;text-align: center;line-height: 32px;border-radius: 4px;display: inline;}
.bott a.aclick:hover{text-decoration: none;}
.fir-wrapper .layc h4{width: 100%;height: 40px;background: #327dc9;line-height: 40px;font-size: 20px;color: #fff;font-weight: normal;}
.time{position: relative;width: 100%;height: 46px;background: #fff;}
.time span{width: 100%;text-align: center;line-height:46px;font-size: 20px;color: #297e8c;}
.time em{position: absolute;width: 10px;height: 11px;top: 50%;margin-top: -5px;}
.time em.em-le{left: 35px;background-position: 0 -298px;}
.time em.em-ri{left: 170px;background-position: -11px -298px;}
.txt{width: 100%;height: 69px;font-size: 20px;}
.txt span{float: left;width: 50%;height: 100%;line-height: 69px;background: #dddddd;color: #0a0a0a;}
.txt span:nth-child(1),.cont span:nth-child(1){width: 107px;}
.txt span:nth-child(2),.cont span:nth-child(2){width: 106px;border-left: 1px solid #cccccc;}
.cont{width: 100%;height: 104px;background: #fff;font-size: 36px;}
.cont span{float: left;width: 50%;height: 100%;line-height: 104px;}
.cont span i{font-size: 18px;}
.cor1{color: #3498db;}
.cor2{color: #ea2e49;}
.cor3{color: #00a388;}
.cor4{color: #ffb03b;}
.em-le,.em-ri{cursor: pointer;}