html,body,table{background-color:#5e90c8;width:100%;text-align:center;color:#888888;font-family:Microsoft Yahei;}
a,a:hover{color:#888;text-decoration:none;}
.form-signin-heading{font-family:Helvetica, Georgia, Arial, sans-serif, 黑体;font-size:36px;margin-bottom:20px;color:#0663a2;text-align:center;}
.form-signin{position:relative;text-align:left;width:550px;padding:48px 96px;margin:0 auto 20px;background-color:#fff;border:1px solid #e5e5e5;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:0 1px 2px rgba(0,0,0,.05);box-shadow:0 1px 2px rgba(0,0,0,.05);
}
.form-signin .checkbox{margin-bottom:10px;color:#0663a2;} 
.form-signin .input-label{font-size:14px;color:#888;display:block;}
label{font-weight:normal;}
.form-signin .form-control{height:47px;margin-bottom:20px;}
.form-signin .btn.btn-large{font-size:18px;background-color:#589af5;border:none;width:100%;border-radius:18px;padding:0;line-height:48px;margin-top:15px;} 
.form-signin .btn.btn-large:hover{background-color:#1784e0;}
.form-signin div.validateCode {padding-bottom:15px;}
.mid{vertical-align:middle;}
.header{height:80px;padding-top:20px;}
.alert{position:relative;width:300px;margin:0 auto;*padding-bottom:0px;}
label.error{background:none;width:270px;font-weight:normal;color:inherit;margin:0;}
.act-btn{font-size:14px;line-height:30px;color:#888;}
.logo-img{border-bottom:1px #e4e4e4 solid;padding-bottom:15px;margin-bottom:15px;}
.login-form{padding:0 10px;}
@media(max-width:768px){
	.form-signin{width:100%;padding:20px;}
}