body{font-family:Microsoft Yahei;font-size:12px;background-color:#eff1f3;color:#666;min-width:1200px;}
input,button,textarea{font-family:Microsoft Yahei;}
a,a:hover{text-decoration:none;}
.hr5,.hr10,.hr12,.hr15,.hr20,.hr30,.hr40,.hr75,.line_t1{clear:both;font-size:0;line-height:0;}
.hr5{height:5px;}
.hr10{height:10px;}
.hr12{height:12px;}
.hr15{height:15px;}
.hr20{height:20px;}
.hr30{height:30px;}
.hr40{height:40px;}
.hr75{height:75px;}
.btn{font-size:12px;}
.font-12{font-size:12px;}
.font-14{font-size:14px;font-weight:normal;}
.font-18{font-size:18px;}
.font-30{font-size:30px;}
.font-24{font-size:24px;}
.font-36{font-size:36px;}
.font_cc1{color:#58a434;}
.font_cc2{color:#4f8fde;}
.font_cc3{color:#f3582e;}
.font_cc4{color:#3d8ae2;}
.font_cc5{color:#666666;}
.font_cc6{color:#dc4444;}
.font_cc7{color:#3b6598;}
a.font_cc4:hover{color:#3d8ae2;}
a.underline{text-decoration: underline;}
.form-control{padding-left:3px;padding-right:3px;}
.line_h24{line-height: 24px;}
.line_h25{line-height: 25px;}
.line_h26{line-height: 26px;}
.line_h30{line-height: 30px;}
.line_h40{line-height: 40px;}
.line_h60{line-height: 60px;}
.line_h65{line-height: 65px;}
.text-center{text-align: center;}
.text-left{text-align:left;}
.inline{display:inline;}
.none{display:none;}
.w_main{width:950px;margin:0 auto;}
.left{float:left;}
.right{float:right;}
.main_cons{width:1200px;margin:0 auto;}
.bg_style{background-repeat:no-repeat;background-position:center;}
.bg_style_top{background-repeat:no-repeat;background-position:0 0;}
.bg_col_1{background-color:#f5f5f5;}
.btn_m{padding:3px 15px;border:none;font-size:14px;}
.btn_m:hover{border:none;text-shadow:none;}
.btn_m:active{border:none;text-shadow:none;}
.btn_submit2{background:#d5d5d5;font-size:14px;padding-left:25px;padding-right:25px;display:block;width:120px;}
.btn_skin2{padding:4px 20px;}
.radius0{border-radius: 0;}
.btn_bg_1{background-color:#d5d5d5;}

.btn_bg_2{/*background-color:#4ba2ff;*/background-color:#3d8ae2;color:#fff;border:none;}
.btn_bg_2:focus{background-color: #3d8ae2;color:#fff;}
.btn_bg_2:hover{background-color:#3d8ae2;color:#fff;border:none;opacity:.7;}
.btn_bg_2:active{color:#fff;}

.btn_bg_3{background:none;color:#01a187;border:none;}
.btn_bg_3:hover{background:none;color:#01a187;border:none;}
.btn_bg_3:active{color:#01a187;}

.btn_bg_4{background:#f49b55;color:#fff;border:none;}
.btn_bg_4:focus{background-color: #f49b55;color:#fff;}
.btn_bg_4:hover{background:#f49b55;color:#fff;border:none;opacity: .7;}
.btn_bg_4:active{color:#fff;}

.btn_w_a{padding:4px 20px;}
.btn_n4{border:none;background-color:transparent;padding-left:22px; padding-top:2px;padding-bottom:2px;}
.btn_n4:hover{background-color:transparent;}
.btn_n4:active{background-color:transparent;box-shadow:none;}

.btn_w4{width:88px;text-align: center;padding:4px 0;}
.border_i2{border:1px #ccc solid;}
button,.ui-widget{font-family:Microsoft Yahei;}
ul.remove-style{margin:0;padding:0;list-style:none;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:Microsoft Yahei;font-size:12px;}
.mar-rig3{margin-right:3px;}
.mar-rig5{margin-right:5px;}
.mar-rig10{margin-right:10px;}
.mar-rig15{margin-right:15px;}
.mar-rig20{margin-right:20px;}
.mar-lft2{margin-left:2px;}
.mar-lft3{margin-left:3px;}
.mar-lft5{margin-left:5px;}
.mar-lft10{margin-left:10px;}
.mar-lft150{margin-left:150px;}
.mar-bot10{margin-bottom:10px;}
.mar-bot20{margin-bottom:20px;}
.mar-top1{margin-top:1px;}
.mar-top2{margin-top:2px;}
.mar-top3{margin-top:3px;}
.mar-top5{margin-top:5px;}
.mar-top10{margin-top:10px;}
.mar_auto{margin-left:auto;margin-right:auto;}
.pad_3{padding:3px;}
.pad_4{padding:4px;}
.pad_5{padding:5px;}
.pad_6{padding:6px;}
.pad_8{padding:8px;}
.pad_10{padding:10px;}
.pad_12{padding:12px;}
.pad_15{padding:15px;}
.pad_t_b5{padding:5px 0;}
.pad_t_b10{padding:10px 0;}
.pad_10_3{padding:0 10px 10px 10px;}
.pad_l0{padding-left:0;}
.pad_l_r3{padding:0 3px;}
.pad_l_r5{padding:0 5px;}
.pad_l_r8{padding:0 8px;}
.radius_3{border-radius:3px;}
.radius_5{border-radius:5px;}
.radius_bl5{border-bottom-left-radius: 5px;}
.radius_br5{border-bottom-right-radius: 5px;}
.radius_imgs{border-radius:50%;}
.block_c1{background-color:#ff883b;}
.block_c2{background-color:#50d4bf;}
.block_c3{background-color:#a5cefc;}
.inline-block{display:inline-block;}
.main-row{min-width:1200px;margin:0 auto;}
.top_gzt{background:#3d8ae2; min-height: 60px;}
.logo_c {
  width: 193px;
  height: 58px;
  background: url(../images/logo_n1.png) no-repeat 0;
  cursor: pointer;
  margin-left: 12px;
}
.top_nav{padding:14px 0 0 0;}
.top_nav li a{font-size:14px;color:#fff;}
.top_nav li{float:left;height:30px;line-height:30px;margin-right:25px;}
.top_nav li .btn_icos,
.top_tool li .btn_icos
{float:left;margin-right:10px;padding:0px;display:block;background-repeat: no-repeat;
	background-position:0 0; background-image: url(../images/gzpt/img_16.png);}

.top_nav li .btn_icos{width:30px;height:30px;}
.top_nav li.n_1 .btn_icos{background-position:0 0;}
.top_nav li.n_2 .btn_icos{background-position:-47px 0;}
.top_nav li.n_3 .btn_icos{background-position:-93px 0;}
.top_nav li.n_4 .btn_icos{background-position:-138px 0;}
.top_nav li.n_5 .btn_icos{background-position:-184px 0;}
.top_nav li:hover a{color:#8eeeed;}
.top_nav li.n_1:hover .btn_icos{background-position:0 -41px;}
.top_nav li.n_2:hover .btn_icos{background-position:-47px -41px;}
.top_nav li.n_3:hover .btn_icos{background-position:-93px -41px;}
.top_nav li.n_4:hover .btn_icos{background-position:-138px -41px;}
.top_nav li.n_5:hover .btn_icos{background-position:-184px -41px;}

.top_tool{height:30px;padding:20px 0 0 0;color:#fff;}
.top_tool li .btn_icos{margin-right:5px;}
.top_tool li{float:left;line-height:20px;margin-right:15px;}
.top_tool li.btn_t01 .btn_icos{width:16px;height:20px;background-position:-255px -2px;}
.top_tool li.btn_t01:hover .btn_icos{background-position:-255px -28px;}
.top_tool li a{color:#fff;}
.top_tool li a:hover{color:#96fcfe;}
.top_tool li.btn_t02 .btn_icos{width:22px;height:20px;background-position:-355px 2px;}
.top_tool li.btn_t02:hover .btn_icos{background-position:-355px -25px;}

.top_action .drop_user{padding:15px 0 0 0;}
.top_action .drop_user .face{float:left;width:33px;margin-right:5px;}
.top_action .drop_user .face img{width:33px;height:33px;border-radius:50%;}
.top_action .drop_user .dropdown{float:left;color:#fff;}
.top_action .drop_user .dropdown span#dropdownMenu2{border:none;background:none;width:80px;text-align:center;padding:0;display:block;line-height:32px;font-size:14px;}
.top_action .drop_user .open span#dropdownMenu2{background:#dde4ea;color:#6f8499;}
.top_action .drop_user .open span#dropdownMenu2:hover{background:#4272a3;color:#fff;}
.top_action .dropdown-menu{padding:0;border:none;border-radius:0;min-width:80px;padding:0;margin-top:0;}
.top_action .open .dropdown-menu li{border-top:1px #fff solid;padding:0;}
.top_action .open .dropdown-menu li a{background:#dde4ea;color:#6f8499;text-align:center;padding:0;line-height:32px;}
.top_action .open .dropdown-menu li:hover a{background:#4272a3;color:#fff;}

.main_index3{background:#d8e1e8;padding:15px 0;height:100%;}
.pane_main3{width:1148px;margin:0 auto;background:#fff;border-radius: 5px;padding:12px; }
.info_txt3{line-height:1.8;float:left;position:relative;}
.info_txt3 h1{font-size:24px;font-weight:normal;}
.info_txt3 {color:#999999;padding:0;}
.user_info3 .face_imgs{float:left;width:81px;height:81px;margin:10px 30px 0 0;}
.btn_item3{font-size:18px;color:#3d8ae2;border-color:#3d8ae2;float:right;margin:30px 20px 0 0;
	background:url(../images/gzpt/img_13.png) no-repeat 10px center;padding:6px 12px 6px 40px;}
.btn_item3:hover{background:#3d8ae2 url(../images/gzpt/img_17.png) no-repeat 10px center;color:#fff;}
.btn_item3:active{background:#2775cf url(../images/gzpt/img_17.png) no-repeat 10px center;color:#fff;}
.tit_gz2{color:#ffffff;line-height:36px;background:#7cbbe5;font-size:16px;text-indent:15px;}
.table_h2{font-size:16px;border:1px #d8e1e8 solid;}
.table_h2>tbody>tr>td{border:none;border-right:1px #d8e1e8 solid;text-align:center; }
.table_h2>tbody>tr>td.p_td3{background:#e3f3fb;}
.table_h2>tbody>tr>td.p_td3 p{width:65px;text-align:right;margin:0 auto;}

.tit_w5{
line-height: 24px;
text-indent: 15px;
background: #f9f9f9;
border-bottom:1px solid #ddd;
}

.btn_more2{float:right;margin:0 10px 0 0;padding:0 10px 0 0;background:url(../images/gzpt/img_12.png) no-repeat right center;}
.btn_more2 a{color:#999999;}
.pane_bor3{width:550px;height:158px;border:1px #d2d2d2 solid;overflow:hidden;}

.btn_d3{width:13px;height:10px;background:url(../images/gzpt/img_11.png) no-repeat center;}
.table_h3>tbody>tr>td{border-top:none;border-bottom:1px solid #ddd;}
.table_h3 td{text-align:center;}
.table_h3 .btn_d3{margin:0 auto;}
.table_h3>tbody>tr:last-child>td{border-bottom:none;}

.btn_j2{background:url(../images/gzpt/img_14.png) no-repeat 10px center;padding:6px 12px 6px 40px;margin:0;width:auto;}
.footer_s3{width:1148px;margin:0 auto;color:#537fa5;line-height:1.8;}
.footer_s3 a{color:#537fa5;}
.foot_c3 .btn_f5,.foot_c3 .btn_f5:hover,.foot_c3 .btn_f5:active{background:url(../images/gzpt/img_9.png) no-repeat right center;padding:0 28px 0 0;margin-right:15px;}
.foot_c3 .btn_f6{background:url(../images/gzpt/img_10.png) no-repeat right center;padding:0 28px 0 0;margin-right:15px;}
.foot_c4 a{margin:0 0 0 12px;}

/**login**/
body.login_bg{background-color:#5e8bb9;background-image:url(../images/gzpt/bg_login.jpg) ;
	background-repeat:no-repeat;background-size:cover;}
.login_pane3{width:285px;padding:35px;margin:0 auto;background-color:#fff;  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.img_ico6{width:171px;height:21px;background-image:url(../images/gzpt/logo2.jpg);}
.login_pane3 .ico_m1,.login_pane3 .ico_m2
{background-image:url(../images/gzpt/img_18.png);background-repeat:no-repeat;
width:14px;height:20px;display:block;float:left;
margin:3px 5px 0 5px;
}
.login_pane3 .ico_m1{background-position:0 3px;}
.login_pane3 .ico_m2{background-position:0 -36px;}
.border_n5{border:1px #d2d2d2 solid;}
.border_n5:hover{border:1px #3498db solid;}
.border_n5 .form-control{border:none;float:left;width:183px;padding:6px 3px;height:30px;}
.line_space{color:#bdbdbd;line-height: 26px;float:left;}
.login_pane3 .checkbox{color:#bdbdbd;line-height:20px; }
.login_pane3 .checkbox .right a{color:#bdbdbd;}

.btn_e1{background:#ea7d25;color:#fff;}
.btn_e1:hover{background:#e68a40;color:#fff;}
.btn_e1:active{background:#f49b55;color:#fff;}

/*****/
.w_face{width:220px;}
.w_700{width:700px;}
.w_340{width:340px;}
.img_w102{width:102px;}
.btn_upfile{width:85px;text-align:center;height:28px;line-height:28px;border:1px #dcdcdc solid;overflow:hidden;position: relative;cursor:pointer;}
.btn_upfile .btn-default{opacity: 0;position: absolute;top:0;left:0;cursor:pointer;}
.btn_upfile:hover{background:#ccc;}
.btn_upfile span{cursor:pointer;}
.user_form3{border-left:1px #d2d2d2 solid;padding:0 0 0 60px;}
.user_form3 .nav-tabs{border-color:#dcdcdc;}
.user_form3 .nav-tabs>li{margin-right:30px;}
.user_form3 .nav-tabs>li.active{border-bottom:1px #ff6239 solid;}
.user_form3 .nav-tabs>li>a{margin-right: 0;font-size:14px;color:#2d3e50;border-radius:0;border:none;background:none;padding:10px 0 10px 0;}
.user_form3 .nav-tabs>li>a:hover{border-radius:0;border:none;background:none;}

.user_form3 .nav-tabs>li.active a{border-radius:0;border:none;background:none;color:#ff6239;}
.user_form3 .nav-tabs>li.active a:hover{border-radius:0;border:none;background:none;}

.user_zb2{width:520px;margin:0 auto;}
.tit_z1{background:url(../images/gzpt/img_20.jpg) no-repeat right bottom;}
.tit_z1 span{background:#fff;padding-right: 10px;}

.list_zb4 li{color:#ffae3a;padding:12px 0;border-bottom:1px #d5d5d5 solid;}
.list_zb4 li .font-14{color:#666;line-height: 25px;}
.list_zb4 li:last-child{border:none;}

.pane_main5{padding:0 10px;width: 1065px;margin: 0 auto;}
.border_n1{border:1px #dcdcdc solid;}
.t_pane_a1 {background:#fff;}
.t_pane_a1 .nav-tabs{padding:0 0 0 37px;margin:0 4px;border-color:#dcdcdc;}
.t_pane_a1 .nav>li>a {color:#818181; padding: 0px 15px;line-height:26px;border:1px #dcdcdc solid;font-size:14px;height:26px;margin-right:0;overflow:hidden;}
.t_pane_a1 .nav-tabs>li{padding:10px 0 0 0;}
.t_pane_a1 .nav-tabs>li.active{padding:0;}
.t_pane_a1 .nav-tabs>li.active a {color:#3d8ae2; border-top:1px solid #3d8ae2;border-bottom:0;font-size:16px;line-height:36px;height:36px;overflow:hidden;}

.main5_con{border-left:1px #dcdcdc solid;border-right:1px #dcdcdc solid;border-bottom:1px #dcdcdc solid;
}
.user_pane_r2{margin-left:38px;margin-right:38px;}
.sub_left3{width:213px;border:1px #dcdcdc solid;margin: 0 0 0 13px;}
.sub_left4{width:100%;margin:0 0 0 -240px;}
.left4_main{margin-left:240px;padding-right:13px;min-height:300px;}
.tit_sc1{color:#3b3b3b;line-height: 28px;text-indent: 10px;border-bottom: 1px #dcdcdc solid;}
.tit_sc2{color:#3b3b3b;line-height: 28px;text-indent: 10px;border: 1px #dcdcdc solid;border-bottom: 0;}
.tit_sc3{color:#3b3b3b;line-height: 28px;text-indent: 10px;}
.bg_p6,.btn_i2:active,.btn_i3:active,.btn_i4:active,.sidebar_user .ztree li span.button.pIcon01_ico_docu,.sidebar_user .ztree li span.button.pIcon02_ico_docu,
.btn_p7,.btn_p8,.btn_i6:active,.btn_i7:active,.btn_sta01,.btn_sta02,.btn_i8:active,.btn_i9:active,.btn_i10:active,
.btn_i11:active
{background-image:url(../images/gzpt/img_22.png);background-repeat: no-repeat;background-color: transparent;}
.btn_i2{background-position:0 -27px;}
.btn_i2:hover{background-position:0 -51px;}
.btn_i2:active{background-position:0 -75px;}

.btn_i3{background-position:-97px -120px;}
.btn_i3:hover{background-position:-97px -161px;}
.btn_i3:active{background-position:-97px -199px;}

.btn_i4{background-position:0 -121px;}
.btn_i4:hover{background-position:0 -155px;}
.btn_i4:active{background-position:0 -191px;}

.btn_i7{background-position:-312px -2px;}
.btn_i7:hover{background-position:-312px -37px;}
.btn_i7:active{background-position:-312px -73px;}

.btn_i8{background-position:-211px -210px;}
.btn_i8:hover{background-position:-211px -210px;}
.btn_i8:active{background-position:-211px -210px;}

.btn_i9{background-position:-211px -253px;}
.btn_i9:hover{background-position:-211px -253px;}
.btn_i9:active{background-position:-211px -253px;}

table.table_line1>tbody>tr>td{border:none;padding:4px 8px;}
table.table_line1>tbody>tr>td.t_top1{border-bottom:1px #dcdcdc solid;}

.ipt_s03{border:1px #999999 solid;height:26px;line-height: 26px;width:205px;}
.ipt_04{border:1px #999999 solid;border-left:none;height:26px;line-height: 24px;background:#4f9de8;color:#fff;padding:0 15px;}

.btn_p7{background-position:-40px -253px;background-color:transparent;width:28px;height:13px;border:none;padding:0;}
.btn_p7:hover{background-position:-40px -286px;}
.btn_p7:active{background-position:-40px -319px;}

.btn_p8{background-position:-4px -253px;background-color:transparent;width:28px;height:13px;border:none;padding:0;}
.btn_p8:hover{background-position:-4px -286px;}
.btn_p8:active{background-position:-4px -319px;}

.btn_f4
{background:url(../images/gzpt/img_23.jpg) no-repeat 0 center;padding:0 0 0 20px;}
.btn_f4:hover,.btn_f4:active
{background:url(../images/gzpt/img_26.jpg) no-repeat 0 center;padding:0 0 0 20px;}

.btn_f5
{background:url(../images/gzpt/img_24.jpg) no-repeat 0 center;padding:6px;}

.btn_f5:hover,.btn_f5:active
{background:url(../images/gzpt/img_25.jpg) no-repeat 0 center;padding:6px;}

.pad_t_b5 .btn-default:hover{color:#3d8ae2;}
.pad_t_b5 .btn-default:active{color:#3d8ae2;}

thead.thead_a1{background: #deedfc;font-weight:normal;}
thead.thead_a1 th{font-weight:normal;}

.list_toggle_2{padding:0 15px;}
.list_toggle_2 li{margin:15px 0 0 0;}
.list_toggle_2 .tit_t7{line-height: 26px;border:1px #dcdcdc solid;}
.list_toggle_2 .tit_t7 .icos{background:#3d8ae2 url(../images/gzpt/img_29.jpg) no-repeat center;width:28px;height:26px;display:inline-block;float:left;
margin-right:10px;}

.list_toggle_2 .con_t2{border:1px #dcdcdc solid;border-top:none;display:none;}
.list_toggle_2 .con_t2 .inner{padding:20px;}

.list_toggle_2 .tit_t7_act{line-height: 26px;border:1px #dcdcdc solid;color:#3d8ae2;}
.list_toggle_2 .tit_t7_act .icos{background:#3d8ae2 url(../images/gzpt/img_30.jpg) no-repeat center;width:28px;height:26px;display:inline-block;float:left;
margin-right:10px;}

.btn_i6{background-position:-456px -353px;}
.btn_i6:hover{background-position:-456px -397px;}
.btn_i6:active{background-position:-456px -397px;}

.min-h200{min-height:200px;}

/*form*/
.form-group em{font-style: normal;color:#ff0000;padding:0 3px;}
.form-group label.control-label{font-weight: normal;}
input.ipt_w4,select.ipt_w4,input.ipt_w5,input.ipt_w6,select.ipt_w5
 {height: 26px;  border-radius: 0;  border-color: #999999;  display: inline;}
select.ipt_w5{padding:0;}
input.ipt_w4 ,select.ipt_w4{  width:195px;}
input.ipt_w6{width:340px;}
select.ipt_w4{line-height: 18px;padding:0;}
textarea.textarea_n3{border-radius: 0;  border-color: #999999;  display: inline;resize:none;}
.table_list4{border-left:none;border-right:none;margin-bottom:10px;}
.table_list4>thead>tr>th,
.table_list4>tbody>tr>td
{border-left:none;border-right:none;font-weight:normal;padding:4px 8px;}
.border_top1{border-top:1px #dcdcdc solid;}
.client_form5{width:620px;}
.w250{width:250px;}
.w320{width:320px;}
.w150{width:150px;}
.w170{width:170px;}

.pane_gzt{padding:0 48px;}
.span_year .btn_sea1,.span_year .btn_sea2{width:32px;height:26px;border:1px #ccc solid;text-indent:-9999em;padding:0;background-color:transparent;}
.span_year .btn_sea1{background-position:-210px -304px;border-right:0;}
.span_year .btn_sea2{background-position:-209px -376px;border-left:0;}
.span_year .ipt_w5{width:112px;height:26px;line-height:26px;padding:0;text-align:center;}
.span_year .form-control-static{min-height:26px;line-height:24px;border-top:1px #ccc solid;border-bottom:1px #ccc solid;border-left:0;border-right:0;}
.search_form4 .btn-default{height:26px;}
.search_form4 input.form-control{border-color: #ccc;}
.ipt_txt_s1{width:394px;}

.table_jz2>thead>tr>th{background-color: #ebf4ff;padding-left:0;padding-right:0;text-align: center;font-weight: normal;font-size:14px;
vertical-align:middle;}
.table_jz2 th .curr_span{background: #3cd1ba;color:#fff;border-radius: 50px;}
.table_jz2>tbody>tr>td{text-align: center;padding-left:0;padding-right:0;vertical-align:middle;}
.table_jz2>tbody>tr>th{font-weight: normal;font-size:14px;vertical-align:middle;}
.table_jz2 label{font-weight: normal;padding:0 10px 0 20px;}
.btn_h4 .btn_i2{background-position:0 -75px;}
.btn_h4 .btn_i2:hover{background-position:0 -51px;}
.btn_h4 .btn_i2:active{background-position:0 -75px;}

.btn_h4 .btn_i4{background-position:0 -191px;}
.btn_h4 .btn_i4:hover{background-position:0 -155px;}
.btn_h4 .btn_i4:active{background-position:0 -191px;}

.table_jz2{border-collapse:collapse;border:1px #ddd solid;}
.table_jz2 > thead > tr > th, .table_jz2 > tbody > tr > th, .table_jz2 > tfoot > tr > th, 
.table_jz2 > thead > tr > td, .table_jz2 > tbody > tr > td, .table_jz2 > tfoot > tr > td{
	padding:8px;
}
.table_jz2 .btn_h4 .btn_i2{margin-top: 2px;}
.table_jz2 .btn_h4 .btn_i4{margin-right:2px;}
.table_jz2>thead>tr>th,
.table_jz2>tbody>tr>th,
.table_jz2>tbody>tr>td{/*border-left-color: #dfe9f5;*/border-left:0;border-right-color: #dfe9f5;}
.bg_sta4{background-color:#f8f8f8;}

.table_jz2>tbody>tr.thover{background-color: #f8f8f8;}
.table_jz2>tbody>tr.thover .bg_sta4{background-color:#ff883b;color: #fff;}

.table_jz2>tbody>tr.thover td:nth-child(2),
.table_jz2>tbody>tr.thover td:nth-child(3),
.table_jz2>tbody>tr.thover td:nth-child(4),

.table_jz2>tbody>tr.thover td:nth-child(5),
.table_jz2>tbody>tr.thover td:nth-child(6),
.table_jz2>tbody>tr.thover td:nth-child(7),
.table_jz2>tbody>tr.thover td:nth-child(8),
.table_jz2>tbody>tr.thover td:nth-child(9),
.table_jz2>tbody>tr.thover td:nth-child(10),
.table_jz2>tbody>tr.thover td:nth-child(11),
.table_jz2>tbody>tr.thover td:nth-child(12),
.table_jz2>tbody>tr.thover td:nth-child(13),
.table_jz2>tbody>tr.thover td:nth-child(14)
{border-left:none;border-bottom: 1px solid #3d8ae2;}

.table_jz2>tbody>tr.thover>td:nth-child(1){border-color: #3d8ae2;border-right:none;border-left: 1px solid #3d8ae2;}
.table_jz2>tbody>tr.thover td:last-child{border-right: 1px solid #3d8ae2;}

.table_jz2>thead>tr.top_lines th,
.table_jz2>tbody>tr.top_lines th,
.table_jz2>tbody>tr.top_lines td{border-bottom:1px #3d8ae2 solid;}

.table_jz2 .btn_h4{display:none;height:20px;}
.table_jz2>tbody>tr.thover .btn_h4{display:block;}

.table_jz2>tbody>tr.thover2{background-color: #f8f8f8;}

.btn_sta01,.btn_sta02,.btn_sta03{display: inline-block;text-indent: -9999em;width:24px;height: 20px;overflow: hidden;}
.btn_sta01{background-position: -422px -84px;}
.btn_sta02{background-position: 2px -466px;}
.btn_sta03{background-position: 0 -373px;}

.bg_p11{background-color: #ebf4ff;}

.tips_jz{background-position: 0 -527px;height:30px;}
.tips_jz2{background-position: 0 -583px;height:30px;}
.tips_jz4{background-position: 0 -630px;height:30px;}
.tips_jz9{background-position: 0 -697px;height:30px;}
.tips_jz10{background-position: 0 -757px;height:30px;}

.td_bg3{background: url(../images/gzpt/line_td1.png);}
.line_table4{width:660px;overflow:hidden;}
.nums_width{clear:both;text-align: right;padding-top:5px;}
.nums_width span.label{font-weight: normal;padding:1px;font-size:12px;margin-right: 8px;}
.nums_width .lines_t5{/*width:90%;float:right;margin-right:5%;*/margin:0 auto;cursor: pointer;;}

.table_jz2>tbody>tr.thover3{background-color: #f8f8f8;}
.table_jz2>tbody>tr.thover3 .btn_h4{display:block;}

.form-group{margin-bottom: 10px;}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline{padding-top: 0;}
.form-horizontal .radio, .form-horizontal .radio-inline{padding-top: 6px;}
.form-horizontal .control-label{padding-top: 0px;line-height:34px;}
label.radio-inline input[type="radio"],
label.checkbox-inline input[type="checkbox"]{margin-top: 2px;}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
input.ipt_b90{width:90%;}
input.ipt_b80{width:80%;}
input.ipt_w85,
select.ipt_w85
{width:85px;}
select.ipt_w60{width:60px;}
select.ipt_w40{width:40px;}
.span_month{cursor: pointer;}
.table_jz2 th.month_td {padding:0;}
.table_jz2 th.month_td .span_month{display:inline-block;width:43px;height:43px;line-height:35px;overflow:hidden;padding:5px 5px;}
.btn_i10,.btn_i10:focus{background-position:-220px -3px;}
.btn_i10:hover{background-position:-185px -47px;}
.btn_i10:active{background-position:-219px -25px;}

.btn_i11,.btn_i11:focus{background-position:-97px -3px;}
.btn_i11:hover{background-position:-97px -31px;}
.btn_i11:active{background-position:-97px -3px;}

.w30{width:30px;}
table.table>tbody>tr.bg_blue2 {color: #3d8ae2;}

.user_pane_data2{min-width:1200px;padding:0 15px;}
/**ztree**/
.ztree{padding:0;border-top: 1px #dcdcdc solid;}
.ztree *{font-family: Microsoft Yahei;}
.ztree li{clear:both;}
.sidebar_user {overflow-y:auto;}
.sidebar_user .ztree li span.button.switch{float:left;margin:3px 0 0 0;}
.ztree a{text-decoration: none;}
.ztree a:hover{text-decoration: none;}
.sidebar_user .ztree a.level0{display:block;width:100%;height:25px;line-height:25px;padding-top:1px;}
.sidebar_user .ztree li .level0.curSelectedNode{background-color:#deedfc;border:none;height:25px;line-height:25px;opacity: 1;}
.sidebar_user .ztree li a.level0 span.button{display:none;}

.sidebar_user .ztree li a.level1{height:24px;line-height:24px;}
.sidebar_user .ztree li a.level1.curSelectedNode{border:none;height:24px;padding-top:1px;background-color:transparent;opacity: 1;}
.sidebar_user .ztree li a.level1.curSelectedNode{color:#999;}
.ztree li.level1 span.button.switch{display:none;}
.ztree li span.button.pIcon01_ico_docu{background:-8px -430px;margin-right:5px;}
.ztree li span.pIcon01_ico_open{background-position: -95px -76px;}
.ztree li span.pIcon01_ico_close{background-position: -77px -76px;}
.ztree li span.pIcon02_ico_docu{background: -8px -430px;  margin-right: 5px;}
.sidebar_user .ztree li a.level2 {  height: 24px;  line-height: 24px;}
.sidebar_user .ztree li a.level2.curSelectedNode {  border: none;  height: 24px;  padding-top: 1px;  background-color: transparent;  opacity: 1;}
.sidebar_user .ztree li a.level2.curSelectedNode {  color: #999;}
.echartable {margin-bottom:20px;}
.table_line1 {margin-bottom:0}
.table_first {border:none;}
.table_first tbody td{border-bottom:none!important;}
.table_containerbox {overflow-y:auto;border-bottom:0px solid #ddd;}
.table_head {border:1px solid #ddd;}
.table_container {border-bottom:1px solid #ddd;}
.no_data {width:871px;text-align:center;}
.no_data img {margin-top: 100px;}

.table_containerbox #userList .btn_i2{display:inline-block;width:21px;height:21px;cursor:pointer;float:left;}
	.table_containerbox #userList .btn_reset2{display:inline-block;}
	.table_containerbox #userList .btn_reset2 .glyphicon-cog{font-size:16px;color:#666;margin-top:1px;}
	.table_containerbox #userList .btn_reset2:hover .glyphicon-cog{font-size:16px;color:#f49b55;}
	.table_containerbox #userList .btn_reset2:active .glyphicon-cog{font-size:16px;color:#3d8ae2;}
	.table_containerbox #userList .btn_reset2:focus{outline:none;box-shadow:inherit;}